<html>
<head>
  <%- include('../partials/header1.ejs') %>
</head>

<body>
  <%- include('../partials/navbar2.ejs') %>

  <a href="/dashboard" class="btn btn-secondary mb-3">Back</a>

<div class="container mt-5">
  <h2>Owner Profile Settings</h2>

  <form action="/owner/profile" method="POST" enctype="multipart/form-data" class="mt-4">


    <div class="mb-3">
      <label class="form-label">Profile Photo (optional)</label>
      <input type="file" name="photo" class="form-control">
    </div>


    <% if (profile.photo) { %>
      <div class="mb-3">
        <img src="<%= profile.photo %>" width="150" class="rounded shadow"/>
      </div>
    <% } %>

    <div class="mb-3">
      <label class="form-label">Phone</label>
      <input type="text" name="phone" class="form-control" 
             value="<%= profile.phone || '' %>">
    </div>

    <div class="mb-3">
      <label class="form-label">Address</label>
      <input type="text" name="address" class="form-control" 
             value="<%= profile.address || '' %>">
    </div>

    <div class="mb-3">
      <label class="form-label">City</label>
      <input type="text" name="city" class="form-control" 
             value="<%= profile.city || '' %>">
    </div>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
 </div>

  <%- include('../partials/footer.ejs') %>
</body>
</html>